<?xml version="1.0"?>
<configuration>
	<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000" />
      </webServices>
    </scripting>
  </system.web.extensions>
	<appSettings>
  <add key="ENABLE_PRIORITY_FILTER" value="False" />
  <add key="FILTER_PRIORITY" value="" />
  <add key="ENABLE_SEVERITY_FILTER" value="False" />
  <add key="FILTER_SEVERITY" value="" />
  <add key="ENABLE_CATEGORY_FILTER" value="False" />
  <add key="FILTER_CATEGORY" value="" />
  <add key="ENABLE_CONSOLE_STORAGE" value="True" />
  <add key="ENABLE_SQL_STORAGE" value="False" />
  <add key="ENABLE_TXT_STORAGE" value="True" />
  <add key="LOG_TABLE_NAME" value="" />
  <add key="LOG_FILE_DIRECTORY" value="D:\log\service" />
  <add key="ENABLE_CONNECTION_POOL" value="False" />
  <add key="CONNECTION_POOL_MAX" value="30" />
  <add key="CONNECTION_POOL_LIMIT" value="False" />
  <add key="CONNECTION_STRING" value="Data Source=120.25.86.111;Initial Catalog=test;User ID=dx;Password=dingxing" />
  <add key="IDTimeOut" value="" />
  <add key="ENABLE_CACHE" value="True" />
  <add key="THREAD_SLEEP_TIME" value="" />
  <add key="LOCK_TIME_OUT" value="30" />
  <add key="DEFAULT_SLICETIME" value="30" />
  <add key="ENABLE_EXCEPTION_LOG" value="True" />
  <add key="数据备份目录" value="D:\DXYKT数据库备份\" />
  <add key="SERVERM" value="Data Source=han;Initial Catalog=dxykt_czbs;User ID=sa;Password=han" />
  <add key="SERVERB" value="Data Source=han;Initial Catalog=dxykt;User ID=sa;Password=han" />
 </appSettings>
	<connectionStrings/>
	<system.web>
<webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>

   <httpRuntime maxQueryStringLength="2097151" executionTimeout="60"/>
    <!--<identity impersonate="true" userName="IIS_ShareUser" password="123456"/>
    -->
    <!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
		<compilation targetFramework="4.0">
		</compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
       -->
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WebServiceExSoap">
					<dataContractSerializer maxItemsInObjectGraph="10"/>
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="dfdana.mes.web.service.WebServiceEx" behaviorConfiguration="WebServiceExSoap">
				<endpoint binding="basicHttpBinding" address="/WebServiceEx/"></endpoint>
			</service>
			<service name="dfdana.mes.web.service.AutoGeneration" behaviorConfiguration="WebServiceExSoap">
			</service>
		</services>
	</system.serviceModel>
<system.webServer>
 <security>
   <requestFiltering >
      <requestLimits maxQueryString="408000" /> 
   </requestFiltering>
 </security>

</system.webServer>
</configuration>
