<div ng-controller="CheckoutController">
    <header class="shop-header">
        <a class="header-back col-xs-2" ng-href="/shop">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
        <div class="header-title col-xs-8 text-center">
            <b>{{CurPlace}} {{roomData.Room[0].RoomName}}</b>
        </div>
        <div class="col-xs-2"></div>
    </header>
    <div class="restaurant-checkout col-xs-12">
        <div class="col-xs-12">
            <div class="col-xs-12 text-center shop-header-lightblue" ng-if="orderingData && orderingData.length > 0">
                <div class="col-xs-4"></div>
                <div class="header-title col-xs-4 text-center">
                    <b>待确认订单{{orderingData.length}}</b>
                </div>
                <div class="col-xs-4"></div>
            </div>
            <div class="ui-block" ng-if="orderingData && orderingData.length > 0">
                <div class="list-group-item good-item col-xs-12" data-toggle="collapse" href="#{{gd.ID}}" ng-repeat="gd in orderingData" ng-show="gd.GoodsCount > 0">
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                            <b class="food-name" ng-bind="gd.GoodsName"></b>
                            <p class="good-price">￥{{gd.Price}} / {{gd.Unit}}</p>
                        </div>
                        <div class="col-xs-3 text-right">
                            <span>{{gd.Remarks}}</span>
                        </div>
                        <div class="col-xs-4 text-right">
                            <a class="btn-minus" ng-click="decrease(gd)"><i class="glyphicon glyphicon-minus-sign"></i></a>
                            <span class="font-large" ng-show="gd.GoodsCount >= 0">{{gd.GoodsCount}} {{gd.Unit}} </span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-6 text-right">
                        <button class="mbtn mbtn-confirm" ng-click="sendtoserver(orderingData)"><b class="white">确认修改</b></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 text-center shop-header" >
            <a class="col-xs-4" ></a>
            <div class="header-title col-xs-4 text-center">
                <b>消费记录</b>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
        <div class="col-xs-12 text-center" ng-if="!orderedData || orderedData.length <= 0">
            <div class="no-pic empty-cart-info">
                <h1><i class="glyphicon glyphicon-shopping-cart"></i></h1>
                <p class="">没有已经消费记录，快通知服务员确认订单吧！</p>
            </div>
        </div>
        <div class="restaurant-cart col-xs-12">
            <div class="ui-block" ng-if="orderedData && orderedData.length > 0">
                <div class="list-group-item good-item col-xs-12" data-toggle="collapse" href="#{{gd.ID}}" ng-repeat="gd in orderedData" ng-show="gd.GoodsCount > 0">
                    <div class="col-xs-12">
                        <div class="col-xs-5">
                            <b class="food-name" ng-bind="gd.GoodsName"></b>
                            <p class="good-price">￥{{gd.Price}} / {{gd.Unit}}</p>
                        </div>
                        <div class="col-xs-2 text-right">
                            <span>{{gd.Remarks}}</span>
                        </div>
                        <div class="col-xs-3 text-right">
                            <span class="font-large" ng-show="gd.GoodsCount >= 0">{{gd.GoodsCount}} {{gd.Unit}} </span>
                        </div>
                        <div class="col-xs-2 text-right">
                            <span class="good-price" ng-show="gd.GoodsCount >= 0">￥{{gd.GoodsCount*gd.Price}} </span>
                        </div>
                    </div>
                </div>
            </div>    
        </div>    
    </div>
    <div class="restaurant-checkout-bottom col-xs-12">
        <div class="col-xs-12 text-right">
            <h2 class="mcart-total">
    			<i class="glyphicon glyphicon-shopping-cart"></i>
    			&nbsp;{{posCount}}份 
    			<label class="good-price">￥{{posPrice}}</label>
    		</h2>
    	</div>
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6 text-right">
            <button class="mbtn mbtn-confirm" ng-click=""><b class="white">微信支付</b></button>
        </div>
    </div>
</div>
