<div ng-controller="CheckoutController">
    <header class="shop-header">
        <a class="header-back col-xs-2" ng-href="/shop">
            <i class="glyphicon glyphicon-chevron-left"></i>
        </a>
        <div class="header-title col-xs-8 text-center">
            <b>{{CurPlace}} {{roomData.Room[0].RoomName}}</b>
        </div>
        <div class="col-xs-2"></div>
    </header>
    <div class="restaurant-checkout col-xs-12">
            <div class="col-xs-12 text-center shop-header-lightblue" ng-if="orderingData && orderingData.length > 0">
                <div class="col-xs-2"></div>
                <div class="header-title col-xs-8 text-center">
                    <b>待确认订单{{orderingData.length}}</b>
                </div>
                <div class="col-xs-2"></div>
            </div>
            <div class="ui-block" ng-if="orderingData && orderingData.length > 0">
                <div class="list-group-item good-item col-xs-12" data-toggle="collapse" href="#{{gd.ID}}" ng-repeat="gd in orderingData" ng-show="gd.GoodsCount > 0">
                        <div class="col-xs-6 text-left no-padding">
                            <a class="food-name" ng-bind="gd.GoodsName"></a>
                        </div>
                        <div class="col-xs-3 text-right no-padding">
                            <a>{{gd.Remarks}}</a>
                        </div>
                        <div class="col-xs-3 text-right no-padding">
                            <a class="btn-minus" ng-click="decrease(gd)"><i class="glyphicon glyphicon-minus-sign"></i></a>
                            <a class="font-large" ng-show="gd.GoodsCount >= 0">{{gd.GoodsCount}}</a>
                            <a class="btn-add" ng-click="increase(gd)"><i class="glyphicon glyphicon-plus-sign"></i></a>
                        </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-6"></div>
                    <div class="col-xs-6 text-right">
                        <button class="mbtn mbtn-confirm background-blue" ng-click="sendtoserver(orderingData)"><b class="white">确认修改</b></button>
                    </div>
                </div>
        </div>
        <div class="col-xs-12 text-center shop-header" >
            <a class="col-xs-2" ></a>
            <div class="header-title col-xs-8 text-center">
                <b>消费记录</b>
            </div>
            <div class="col-xs-2">
            </div>
        </div>
        <div class="col-xs-12 text-center" ng-if="!orderedData || orderedData.length <= 0">
            <div class="no-pic empty-cart-info font-x-large">
                <h1><i class="glyphicon glyphicon-shopping-cart"></i></h1>
                <p class="">没有已经消费记录，<br>快通知服务员确认订单吧！</p>
            </div>
        </div>
        <div class="restaurant-cart col-xs-12">
            <div class="ui-block" ng-if="orderedData && orderedData.length > 0">
                <div class="list-group-item good-item col-xs-12" data-toggle="collapse" href="#{{gd.ID}}" ng-repeat="gd in orderedData" ng-show="gd.GoodsCount > 0">
                        <div class="col-xs-6 text-left no-padding">
                            <b class="food-name" ng-bind="gd.GoodsName"></b>
                            <p ng-if="gd.Remarks">{{gd.Remarks}}</p>
                        </div>
                        <div class="col-xs-3 text-right no-padding">
                            <b class="font-large" ng-show="gd.GoodsCount >= 0">{{gd.GoodsCount}} {{gd.Unit}} </b>
                        </div>
                        <div class="col-xs-2 text-right no-padding">
                            <b class="good-price" ng-show="gd.GoodsCount >= 0">￥{{gd.GoodsCount*gd.Price}} </b>
                        </div>
                </div>
            </div>    
        </div>    
    </div>
    <div class="restaurant-checkout-bottom col-xs-12">
        <div class="col-xs-6 text-left">
            <h2 class="mcart-total">
                <i class="glyphicon glyphicon-shopping-cart"></i>
                &nbsp;{{posCount}}份 
                <label class="good-price">￥{{posPrice}}</label>
            </h2>
        </div>
        <div class="col-xs-6 text-right">
            <button class="mbtn mbtn-confirm" ng-click=""><a ng-href="/pos" class="white">微信支付</a></button>
        </div>
    </div>
</div>
