<div class="list-group">
	<div class="list-group-item" ng-show="goods.length <= 0">请选择右边菜品分类</div>
	 
    <div class="list-group-item good-item col-xs-12" ng-repeat="gd in goods | orderBy:['-sales','-Price']">
    	<div class="col-xs-6 text-center good-img" ng-show="gd.pics.length > 0">
    		<img ng-src="{{gd.pics[0]}}" class="food-img" />
    	</div>
        <div class="col-xs-6 no-pic good-img" ng-show="gd.pics.length <= 0">
            暂无图片
        </div>
    	<div class="col-xs-6 font-large padding-5px">
    		<b> {{gd.GoodsName}}-{{gd.Unit}}</b>
            <br>
            <span class="font-small" ng-show="gd.sales > 0">月销:{{gd.sales}}</span>
            <br>
    		<div class="good-action">
    			<span class="good-price">￥{{gd.Price}}</span>
    			<span class="pull-right">
                    <cart-decrease ng-click="decrease(gd)" ng-show="gd.GoodsCount > 0"></cart-decrease>
                    <span class="shop-goodcount" ng-bind="gd.GoodsCount" ng-show="gd.GoodsCount > 0"></span>
    				<cart-add ng-click="add(gd)"></cart-add>
    			</span>
                
    		</div>    		
    	</div>
    </div>
</div>
