.x-tab .x-button-icon.add:before,
.x-button .x-button-icon.add:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Pictos";
  content: "&";
}
.x-button .x-button-icon.lower:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Pictos";
  content: "_";
}
.x-button .x-button-icon.chili:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "Pictos";
  content: "辣";
}
.list .img {
    width:2.5em;
    height:2.5em;
    background-size:100%;
}
.list .content {
    margin-left:0.5em;
}
.list .imgBtn {
    text-align:center;
}
.list .btn {
    width:3em;
    font-size:0.6em;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
    padding:0;
    color:Yellow;
    margin:0 auto;
}
/*#endregion*/
/*#region 盒模型 */
/*horizontal vertical*/
.bh {
    display:-webkit-box;
    -webkit-box-orient:horizontal;
}
.bv {
    display:-webkit-box;
    -webkit-box-orient:vertical;
}
.bone {
    -webkit-box-flex:1;
    width :162;
}
.btwo {
    -webkit-box-flex:2;
}
.bthree {
    -webkit-box-flex:3;
}
.dxtextright
{
	text-align:right
}
.bluetoolbar
{
	background-color:blue;
	text-align:left;
}
/*点单列表里图片大小*/
.goodsimg
{
	width:81px;
	height:50px;
}
/*点单列表里图片点击后放大的框大小*/
.goodsbigimg
{
	width:260px;
	height:70%;
}
/*#endregion*/