<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HeartCycle" value="5"/>
    <add key="NC序列号" value="10100039"/>
    <add key="ProduceSite" value=""/>
    <add key="Store" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="LOG_FILE_DIRECTORY" value="D:\log\client"/>
    <add key="CONNECTION_STRING" value="Data Source=;Initial Catalog=;User ID=;Password="/>

    <add key="ChildPlace" value="分店一|http://192.168.1.16:81/dxws/WebServiceEx.asmx||分店二|http://192.168.1.16:81/dxws2/WebServiceEx.asmx"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LargeQuotaBehavior">
          <dataContractSerializer
            maxItemsInObjectGraph="100000000" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceExSoap" closeTimeout="00:10:00" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536000" maxBufferPoolSize="524288" maxReceivedMessageSize="65536000"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://120.25.86.111/new/WebServiceEx.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebServiceExSoap" contract="ws.WebServiceExSoap"  behaviorConfiguration="LargeQuotaBehavior"
        name="WebServiceExSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
